* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  width: 825px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  border: 4px solid rgb(0, 0, 0);
  margin-top: 30px;
  position: relative;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 20px 0;
}

.product-title::after {
  content: "sale";
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -25px;
  font-size: 15px;
  padding: 5px 15px;
  display: inline-block;
  letter-spacing: 2px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:any-link {
  color: black;
}

.info {
  margin-bottom: 10px;
}

.more-info:hover {
  text-decoration: none;
}

.product-details {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.detailed-list {
  list-style: square;
  margin-left: 20px;
  line-height: 30px;
}

.add-chart {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid #000;
}

.add-chart:hover {
  color: #000;
  background-color: #fff;
}

.button-black {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.button-blue {
  display: inline-block;
  background-color: rgb(0, 119, 255);
  padding: 10px;
}

.button-red {
  display: inline-block;
  background-color: red;
  padding: 10px;
}

.button-yellow {
  display: inline-block;
  background-color: yellow;
  padding: 10px;
}

.button-green {
  display: inline-block;
  background-color: green;
  padding: 10px;
}

.button-brown {
  display: inline-block;
  background-color: rgb(167, 16, 16);
  padding: 10px;
  margin-right: 5px;
}

.colors {
  display: flex;
  gap: 10px;
}

.shoe-img {
}

.second-box {
}

.third-box {
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  align-items: center;
  justify-items: center;

  gap: 20px;
  row-gap: 0;
}

.product-title {
  grid-column: 1 / -1;
}

.add-chart {
  grid-column: 1 / -1;
}

.product-title {
  grid-column: 1 / -1;
}
